@import "../../theme.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: $primary;
}
.header-text {
  display: flex;
  align-items: center;
}

.greet-container {
  text-align: center;
  justify-content: center;
}
