<div>
  <form>
    <label for="formFile" class="form-label">Upload file example</label>
    <input
      (change)="this.onFileChange($event)"
      class="form-control"
      type="file"
      id="formFile"
      accept="video/*"
    />
    <button
      *ngIf="!loading; else spinner"
      (click)="this.upload()"
      type="button"
      class="btn btn-primary mt-3"
    >
      Upload
    </button>
    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </form>
</div>
